/*=============== REUSABLE CSS CLASSES ===============*/
.flex {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .d-flex {
  display: flex;
  justify-content: space-between;
 }
 .grid {
   display: grid;
   place-items: center;
 }
 .d-grid {
  display: grid;
 }
 .col-2 {
   grid-template-columns: repeat(2, 1fr);
 }
 .col-3 {
   grid-template-columns: repeat(3, 1fr);
 }
 .col-4 {
  grid-template-columns: repeat(4, 1fr);
 }
 .col-6 {
  grid-template-columns: repeat(6, 1fr);
 }
 .col-7 {
   grid-template-columns: repeat(7, 1fr);
  }
 .row-2 {
   grid-template-rows: repeat(2, 1fr);
 }
 .gap-1 {
   gap: 1rem;
 }
 .gap-2 {
    gap: 2rem;
 }
 .gap-3 {
    gap: 3rem;
 }
 .gap-4 {
    gap: 4rem;
 }
 .mg-auto {
    margin: 0 auto;
 }
 .mg-2 {
   margin: 2rem;
 }
 .text-dark {
    color: $dark;
 }
 .hidden {
    display: none;
 }
 .visible {
    display: block;
 }
 a {
    text-decoration: none;
    color: $primary;
 }
 li {
    list-style: none;
 }
 .uppercase {
    text-transform: uppercase;
 }
 .capitalize {
    text-transform: capitalize;
 }
 .text-center {
    text-align: center;
 }
 .mb-sm {
    margin-bottom: 1rem;
 }
 .mb-md {
    margin-bottom: 2rem;
 }
 .width-sm {
  width: 50%;
 }