/*======== FAMILY FONTS ========*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
   /*====== TOASTIFY ======*/
   --toastify-color-error: #81b168 !important;
   --toastify-color-progress-light: linear-gradient(
     to right,
     #4cd964,
     #5ac8fa,
     #007aff,
     #34aadc,
     #5856d6,
     #f3b1c7
   );
 }

/*======= VARIABLES =======*/

/*===== NEUTRALS =====*/
$light: rgb(255, 255, 255);
$light-bg: rgb(255, 238, 245);
$light-gray: rgb(148, 148, 148);
$gray: rgb(94, 94, 94);
$dark-200: #121113;
$dark-400: #191819;
$dark: rgb(0, 0, 0);
$mamossa: #0a1703;

/*===== COLORS =====*/
$primary: #0D1E04;
$primary-light: #81b168;
$primary-pastel: #CAFFBF;
$accent: #61CE70;

/*===== TRANSITIONS =====*/
$transition: all 400ms ease;
$transition-slow: all 600ms ease;