 /* ========== NAVBAR ========== */ 
 #navbar-main {
   box-sizing: border-box;
   display: flex;
   position: fixed;
   top: 0;
   z-index: 9999;
   width: 100%;
   color: $dark;
   transition: $transition;
   
   &.scrolled {
     background-color: $primary;
  }

  #navbar {
     flex: 1 1 auto;
     z-index: 198;
     font-size: 16px;
     line-height: 1em;
     display: block;
     zoom: 1;

     #navbelt {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        transition: $transition-slow;
        height: 80px;

        .brand {
           
           #logo {
              color: $dark;
              text-shadow: 1px 1px $primary;
              font-size: 1.6rem;
              text-transform: uppercase;
              letter-spacing: 1px;
              user-select:none;
              -webkit-user-drag: none;
              -webkit-user-select: none;
              -moz-user-select: none;
              
              img {
                 width: 60px;
                 background-color: transparent;
                 transition: $transition-slow;
              }
     
              }

              @media screen and (max-width: 900px) {
                 padding-left: 1rem;
              }
           }
  
           @media screen and (min-width: 900px) {
              width: 90%;
           }
           @media screen and (min-width: 1600px) {
              width: 78%;
           }
        }

        .cta {
           display: flex;
           flex-direction: row;
           align-items: center;
           padding: 0 1rem;
           gap: 1.8rem;
           transition: $transition-slow;

           .menu {
              display: flex;
              flex-direction: row;
              gap: 1rem;
              transition: $transition-slow;
           }
           
           .hide {
              display: none;
              transition: $transition-slow;

              button svg {
                 width: 45px;
                 height: 35px;
              }
              
              .btn {
                 &:hover {
                    color: $primary;
                 }
              }
           }

        .btn {
            background-color: $primary;                letter-spacing: 1px;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
            display: inline-block;
            padding: .625rem 1.25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
           transition: $transition-slow;
           text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            border: 1px solid transparent;
            border-radius: .375rem;

            @media screen and (max-width: 600px) {
               margin-right: 1.2rem;
            }
           
           .logout {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            gap: 0.5rem;
           }

           a {
               color: $light;
           }

           &:hover {
              text-decoration: none;
              color: $light;
              background-color: $primary;
               border-radius: .375rem;
              transition: $transition-slow;
              a {
               color: $accent;
                 transition: $transition-slow;
         }
           }
           &:active {
              opacity: 1;
           }
        }
        .icon {
           color: $dark;
        }
        @media screen and (max-width: 720px) {
           .btn-auth {
              display: none;
           }
           .hide {
              display: block;
              .link {
                 color: $dark;
              }
           }
        }
        @media screen and (max-width: 500px) {
           gap: 0.7rem;
           padding: 0;
        }
     }
     @media screen and (max-width: 900px) {
        .cta {
           gap: 1.1rem;
        }
     }
  }
}